@import "../../node_modules/reveal.js/dist/reset.css";
@import "../../node_modules/reveal.js/dist/reveal.css";
@import "../../node_modules/reveal.js/dist/theme/white.css";
@import "../../node_modules/reveal.js/plugin/highlight/monokai.css";

.reveal .slides section,
.reveal .slides section > section {
  text-align: left;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
$hr4youRed: #e41a0e;
$hr4youGray: #6e6a6a;

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: $hr4youRed;
  text-transform: none;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: $hr4youGray;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  color: $hr4youRed;
  height: 5px;
}
